<div id="hiddenForm" hidden>
    
</div>

<!--script>
    //var form = document.getElementById("hiddenForm");
    //form.innerText = "It's me ya boi";
    function newVoiture() {
        document.getElementById("ajoutButton").hidden = true;
        
    }

    function modify(id) {
        console.log("Modify : " + id);
    }

    function deleteVoiture(id) {
        console.log("Delete : " + id);
    }
</script-->

<h1>Vos voitures</h1>
<button id="ajoutButton" onclick="newVoiture()">Ajouter un élément</button>

<% if @has_voitures %>
<table>
    <thead>
        <th>Marque</th>
        <th>Couleur</th>
        <th>Année</th>
    </thead>

    <tbody>
    <% @voitures.each do |voiture| %>
        <tr>
            <td><%= voiture.marque %></td>
            <td><%= voiture.couleur %></td>
            <td><%= voiture.annee %></td>
            <td><button onclick="modify(<%= voiture.id %>)">Modifier</button></td>
            <td><button onclick="deleteVoiture(<%= voiture.id %>)">Supprimer</button></td>
        </tr>
    <% end %>
    </tbody>
</table>
<% else %>
<p>Aucune voitures ne vous appartient</p>
<% end %>
